* {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background-color: #d9dff4;
    height: 100vh;
    font-family: sans-serif;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}

ul {
    list-style-type: none;
    cursor: default;
    padding: 0px;
}

/* .checkBtn, .deleteBtn {
    float: right;
    justify-content: float-end;
} */

[data-test = "testMe"] {
    color: purple;
    font-size: 24;
}