* {
    margin: 0;
    font-family: 'nunito', 'sans-serif';
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    height: 100vh;
}

#inputContainer {
    display: flex;
    justify-content:space-between;
}

hr {
    display: block;
    height: 1px;
    width:400px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}

ul {
    list-style-type: none;
    cursor: default;
    padding: 0px;
}

[data-priority = "0"] {
    background-color: #AAD1CB;
}

[data-priority = "1"] {
    background-color: #F5E7AF;
}

[data-priority = "2"] {
    background-color: #EBB66C;
}

[data-priority = "3"] {
    background-color: #E28C4D;
}

.lowPriority:hover, .lowPriority:focus {
    background-color: #F5E7AF;
}

.timeCompleted {
    font-style: italic;
    font-size: .75em;
    color: rgb(75, 75, 75);
}

li {
    border-radius: 3px;
    margin: 5px;
    width: 400px;
    height: 26px;
    line-height:26px;
    font-size: 11pt;
    padding-left: 10px;
    padding-right: 10px;
    display:flex;
    justify-content: space-between;
  }

.deleteBtn, .checkBtn {
    border: none;
    background: none;
    padding: none;
    font-weight: 1000;
    cursor: pointer;
}

.buttons {
    display:flex;
    justify-content: flex-end;
}